*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    /* height: 200vh; */
    background-image: linear-gradient(
        to bottom right,
        rgb(20, 20, 20),
        rgb(23, 66, 56),
        rgb(20, 20, 20)
      );
      background-size: cover;
      background-repeat: no-repeat;
}

header{
   
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-image: linear-gradient(
        to bottom right,
        rgb(20, 20, 20),
        rgb(23, 66, 56),
        rgb(20, 20, 20)
      );
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid grey;
    backdrop-filter: blur(60px);
    /* display: none; */
}

header h1{
    text-shadow:  0 0 10px grey;
}

header a{
    text-decoration: none;
    color: white;

}

.nav{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    /* font-weight: bold; */
}

.nav > div:hover a{
   background-color: white;
   color: #000;
   font-weight: bold;
}

.nav > div a{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.nav > div{
    width: 125px ;
    height: 50px;
    /* background-color: black; */
    border-radius: 10px;
    display: grid;
    place-items: center;
    gap: 1rem;
}


.pie,
.bar,
.dough-nut,
.radar,
.line{
    padding: 5rem;
    width: 50%;
    /* height: 50vh; */
    background-color: white;
    margin-bottom: 5rem;
    border-radius: 30px;
}

.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main{
    margin-top: 15vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1{
    color: white;
    text-align: start;
    margin: 2rem;
    text-shadow: 0 0 10px grey;
}



.radar,.dough-nut,.pie{
    width: 40%;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
}

.home a{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.417);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.home:hover a{
   background-color: white;
   transition: 0.2s ease-in-out;
}

.home:hover svg{
    fill:green;
}

@media screen and (min-width:600px) and (max-width:950px){



    .pie,
    .bar,
    .dough-nut,
    .radar,
    .line{
        /* padding: 5rem; */
        width: 90%;
        height: 50vh;
        background-color: white;
        margin-bottom: 5rem;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .pie-chart,.d-nut,.radar-chart{
        /* width: 90%; */
        height:130% ;
    }

}

@media  screen and (max-width:599px) {
    .pie,
    .bar,
    .dough-nut,
    .radar,
    .line{
        /* padding: 5rem; */
        width: 90%;
        height: 45vh;
        background-color: white;
        margin-bottom: 5rem;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
    }

   .pie-chart,.d-nut,.radar-chart{
        width: 100%;
        height:130% ;
    }
   

    .line-chart,
    .bar-chart{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }

    header{
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;
    }

    .left-header h1{
        font-size: 1.4rem;
    }

    .nav{
        /* background-color: yellowgreen; */
        justify-content: flex-start;
        /* gap: 0; */
    }

    .nav > div{

        font-size: 0.9rem;
        width: 80px ;
        height: 40px;
        /* background-color: black; */
        border-radius: 10px;
        display: grid;
        place-items: center;
        gap: 1rem;
    }

    #donut{
        width: 130px;
    }

    #radar{
        width: 100px;
    }
}